@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  padding: 0;
  margin: 0;
  font-family: 'Poppins';
}

.font_size {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.5px;
}

.text_size {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 30px;
  line-height: 180%;
  letter-spacing: 0.5px;

  color: #40BFFF;
}

.container {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.card {
  background-color: rgb(247, 245, 241);
  width: auto;
  box-shadow: 1rem;

}

.shoes_section_text {
  position: relative;
  padding-top: 8rem;
}

.text_content {
  font-weight: 500;
  font-size: 55px;
  line-height: 82px;
}


.text_content2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;

}

.text_content3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
}

.input_section {
  width: 26rem;
}

.header_text {
  position: relative;
  margin-left: 6rem;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.bd_section {
  height: 500px;
  background-image: url(../public/Promotion\ Image.png);
}

.off_text_items {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #FB7181;
}

.product_price {
  font-weight: 700;
  font-size: 18px;
  line-height: 180%;
  letter-spacing: 0.5px;
  color: #40BFFF;
}

.bg_content {
  display: flex;
  align-items: center;
  height: 100%;
  margin: auto;
}

.bg_content_text {
  position: relative;
  
}

.card_icon_text {
  font-weight: 500;
  font-size: 27px;
  line-height: 40px;
  color: #22262A;
}

.card_item_latest_text {
  font-weight: 600;
  font-size: 34px;
  line-height: 51px;
}

.latest_text_card {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #22262A;
}

.card_item_Featured_text {
  font-weight: 600;
  font-size: 35px;
  line-height: 51px;
}

.card_section {
  position: relative;
  margin-top: -6rem;
  display: flex;
 flex-wrap: wrap;
  justify-content: center;
}

.shop_image {
  width: 300px;
}

.text_third_item {
  position: relative;
  bottom: 12rem;
}



.main_shoes_conatiner {
  width: 100%;
  height: 100%;
}


.image {
  opacity: 1;
  display: block;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container2 {
  position: relative;
  width: 100%;
}

.container2:hover .image {
  opacity: 1;
}

.container2:hover .middle {
  opacity: 1;
}

svg.text {
  font-size: 50px;
  color: #0fa0e9;
}


.left_container {
  width: 15%;
}

.right_container {
  width: 70%;
}

.text_content1 {
  position: relative;
  margin-top: 5rem;
  left: 10%;
}

svg.icon_home_page1 {
  font-size: 30px;
  color: rgb(14, 130, 226);
}

svg.icon_home_page {
  font-size: 30px;
}

svg.icon_singel_item_page1 {
  font-size: 30px;
}

svg.icon_singel_item_page2 {
  font-size: 30px;
  color: rgb(14, 130, 226);
}


svg.icon_shopping {
  font-size: 25px;
  color: rgb(35, 150, 244);
}

.singel_brand_name {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #22262A;
}

.Pagination {
  display: flex;
  justify-content: center;
}

.home_shoes_image {
  width: 40%;
  position: relative;
  bottom: 3rem;
}

.footer_first_row {
  display: flex;
  flex-wrap:wrap ;
  text-align: start;
  margin: 2rem;
  justify-content: space-around;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: -30rem;
  top: 2.5rem;
  background-color: white;
  border: 1px solid rgb(248, 242, 242);
  z-index: 1;
  padding: 2rem;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown_text {
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  color: #C1C8CE;

}

.dropdown_text_ {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.main_table {
  width: 1200px;
}

.price_sec_item {
  position: relative;
  bottom: 14rem;
}

.item_section_text {
  font-size: 20px;
  line-height: 33px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.item_section_barnd_name {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #223263;
}

.featured_card_item_price {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #FF4858;
}

.featured_brand_name {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
}

.star_items {
  width: 80px;
}

.search_button {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: white;
}

.footer_text {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

.footer_follow_text {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.footer_second_section {

  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #22262A;
}

.footer_hr_tag {
  margin-left: 9rem;
  margin-right: 9rem;
}

.home_shoes_text_content {
  font-weight: 500;
  font-size: 40px;
}

.home_shoes_text_content2 {
  margin-top: 1rem;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}

.home_shoes_text_content3 {
  margin-top: 2rem;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
}

.short_list_item {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #22262A;
}

.home_leftbar_name {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.flex.home_page_crad_.my-4.gap-6>div {
  max-width: 280px;
}

.card_main_container {
  max-width: 400px;
}



@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  position: relative;
  left: 35rem;
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #383636;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}


.table_head {
  font-family: 'Poppins' !important;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  color: #C1C8CE;

}

.table_data {
  font-family: 'Poppins' !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #262626;
}

.card_item_latest_main_div {
  position: relative;
  margin-top: 8rem;
}

.card_item_Featured_main_div {
  position: relative;
  margin-top: 8rem;
}

.search_bar {
  position: relative;
  margin-top: 5rem;
}

.footer_second_section_last_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  color: #262626;
}