@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.main_header{
  /* display: flex;
  justify-content: space-between; */

}
.user_profile{

}
.shop_items{

}
.shop_items{
  
}
/* .card_section{
  background-image: url('../public/Promotion.png');
  width: 100%;
  height: 70%;
} */
.card{
  background-color: rgb(247, 245, 241);
  width: 280px;
  box-shadow: 1rem;
  /* border: 1px solid gainsboro; */
}
.shop_image{
  /* margin-left: 1rem;
  width: 250px;
  height: 200px; */
}
.crad_component{

  /* position:relative;
  margin-left: 19%;
  bottom:10rem; */
}